# Ingestion de données

In [11]:
import os 
import pandas
import geopandas
from datetime import datetime

In [4]:
# lire le fichier geojson des stations
gdf = geopandas.read_file("../data/station_abidjan_v1.geojson")

In [7]:
# afficher les données
display(gdf)
display(gdf.sample())

,id,name,operator,shop,address,geometry
0,node/243778772,Station Service Shell Carrefour Duncan,Vivo Energy Côte d'Ivoire SA,yes,Aghien;Cocody;Abidjan;Côte d'Ivoire,POINT (-3.99745 5.37826)
1,node/729781766,Station Service Pétro Ivoire,Pétro Ivoire SA,yes,Vieux Cocody;Cocody;Abidjan;Côte d'Ivoire,POINT (-4.00171 5.35252)
2,node/773848817,Station Service Pétro Ivoire Angré,Pétro Ivoire SA,None,Angré;Cocody;Abidjan;Côte d'Ivoire,POINT (-3.99095 5.40487)
3,node/773848861,Station Service Shell Angré,Vivo Energy Côte d'Ivoire SA,None,None,POINT (-3.99048 5.40473)
4,node/775786955,Corlay Riviera 3,Corlay Côte d'Ivoire SA,None,Riviera 3;Cocody;Abidjan;Côte d'Ivoire,POINT (-3.95992 5.35492)
...,...,...,...,...,...,...
318,node/11866244469,SIP,Société Ivoirienne de Pétrole,None,None,POINT (-4.00433 5.27852)
319,node/11904808382,Total,None,None,None,POINT (-3.96315 5.34249)
320,node/12059902041,Shell,None,None,None,POINT (-3.98735 5.38477)
321,node/12063738451,Afriquia,None,None,None,POINT (-3.86053 5.23127)
322,node/12122258220,Petro Ivoire,None,None,None,POINT (-3.94034 5.39732)

,id,name,operator,shop,address,geometry
0,node/243778772,Station Service Shell Carrefour Duncan,Vivo Energy Côte d'Ivoire SA,yes,Aghien;Cocody;Abidjan;Côte d'Ivoire,POINT (-3.99745 5.37826)

In [8]:
# exploitation
gdf.describe()

,id,name,operator,shop,address,geometry
count,323,302,183,31,37,323
unique,323,161,28,4,15,323
top,node/12122258220,Shell,Vivo Energy Côte d'Ivoire SA,yes,Yopougon;Abidjan;Côte d’Ivoire,POINT (-3.990483 5.4047311)
freq,1,31,66,25,12,1

In [10]:
# renommer les colonnes
gdf_clean = gdf.rename(columns={
    "name": "nom",
    "operator": "operateur",
    "address": "adresse",
})

display(gdf.columns)
display(gdf_clean)

Index(['id', 'name', 'operator', 'shop', 'address', 'geometry'], dtype='object')

,id,nom,operateur,shop,adresse,geometry
0,node/243778772,Station Service Shell Carrefour Duncan,Vivo Energy Côte d'Ivoire SA,yes,Aghien;Cocody;Abidjan;Côte d'Ivoire,POINT (-3.99745 5.37826)
1,node/729781766,Station Service Pétro Ivoire,Pétro Ivoire SA,yes,Vieux Cocody;Cocody;Abidjan;Côte d'Ivoire,POINT (-4.00171 5.35252)
2,node/773848817,Station Service Pétro Ivoire Angré,Pétro Ivoire SA,None,Angré;Cocody;Abidjan;Côte d'Ivoire,POINT (-3.99095 5.40487)
3,node/773848861,Station Service Shell Angré,Vivo Energy Côte d'Ivoire SA,None,None,POINT (-3.99048 5.40473)
4,node/775786955,Corlay Riviera 3,Corlay Côte d'Ivoire SA,None,Riviera 3;Cocody;Abidjan;Côte d'Ivoire,POINT (-3.95992 5.35492)
...,...,...,...,...,...,...
318,node/11866244469,SIP,Société Ivoirienne de Pétrole,None,None,POINT (-4.00433 5.27852)
319,node/11904808382,Total,None,None,None,POINT (-3.96315 5.34249)
320,node/12059902041,Shell,None,None,None,POINT (-3.98735 5.38477)
321,node/12063738451,Afriquia,None,None,None,POINT (-3.86053 5.23127)
322,node/12122258220,Petro Ivoire,None,None,None,POINT (-3.94034 5.39732)

In [12]:
# ajouter les colonnes ville_id et created_at
gdf_clean["ville_id"] = 1
gdf_clean["created_at"] = datetime.now()

display(gdf_clean.sample())

,id,nom,operateur,shop,adresse,geometry,ville_id,created_at
283,node/8585825826,Station Ivoirelub,None,None,None,POINT (-4.01339 5.45007),1,2025-03-26 20:16:57.544455

In [17]:
# nettoyer id et shop
gdf_clean["id"] = range(1, 324)
gdf_clean["shop"] = gdf_clean["shop"].apply(
    lambda shop: True if shop=="yes" else False
)

display(gdf_clean.dtypes)
display(gdf_clean.sample())

id                     int64
nom                   object
operateur             object
shop                    bool
adresse               object
geometry            geometry
ville_id               int64
created_at    datetime64[us]
dtype: object

,id,nom,operateur,shop,adresse,geometry,ville_id,created_at
18,19,Station Service Total Akwaba,Total Côte d'Ivoire SA,False,None,POINT (-3.96221 5.26891),1,2025-03-26 20:16:57.544455

In [19]:
# exporter gdf clean
gdf_clean.to_file("../data/resultat/stations.shp")
gdf_clean.to_file("../data/resultat/stations.geojson")

C:\Users\HP\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\pyogrio\raw.py:723: RuntimeWarning: Field created_at create as date field, though DateTime requested.
  ogr_write(

In [21]:
gdf_clean.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
318    False
319    False
320    False
321    False
322    False
Length: 323, dtype: bool